
/* ANIMISTA.NET --> to get scale up effect */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background-image {
    width: 100vw;
    height: 100vh;
}

body p {
    font-weight: 300;
    color: #e4e4e4;
    
}

nav {
    padding: 20px 3%;
    display: flex;
    align-items: center;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 1rem;
}

.header__logo, .header__menu {
    width: 2rem;
    cursor: pointer;
}

.header__menu {
    margin-left: 1rem;
    display: none;
}

.navbar__menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  }

  .navbar__menu_container_links {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }



.header__sidebar a {
    color: #e4e4e4;
    text-decoration: none;
    margin: 0 1rem;

}

.header__sidebar {
    transform: rotate(90deg) translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 5%;
}

.header__line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9%;
    width: 2px;
    background: rgba(255,255,255,0.3);
}

.header__row {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 8%;
}

.header__row span {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
}

.header__row span img {
    width: 1rem;
    margin-right: 1rem;
}

.header__column__content {
    max-width: 100%;
}

.header__column__content span {
    font-size: 1rem;
}
.header__column__content h1 {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.header__column__content p {
    width: 770px;
    line-height: 2rem;
    text-align: justify;
}

.header__column__info .active {
    font-size: 30px;
    margin-bottom: 20px;
}

.header__column__info .active img {
    width: 25px;
    margin-left: -10px;
    margin-right: 10px;
}

.header__column__info {
    position: relative;
}
.header__column__info::before {
    content: "";
    background: rgba(255,255,255,0.6);
    height: 100%;
    width: 2px;
    position: absolute;
    top: 5px;
    left: -30px;
}

.header__arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 60px;
    width: 75%;
    left: 12.5%;
}

.header__arrow img {
    width: 60px;
    cursor: pointer;
}


@media (max-width: 1500px){
    .header__row {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 1200px){
    .header__links {
        display: none;
    }

    .header__menu  {
        display: flex;
        flex-direction: column;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    .header__column__content p, 
    .header__column__content h1 {
        max-width: 80%;
        
    }

    .header__column__info {
        display: none;
    }

    .header__arrow {
        bottom: 40px;
    }
}



@media (max-width: 850px){
    .header__column__content p,  
    .header__column__content h1 {
    max-width: 80%;
    font-size: 0.8rem;
    line-height: 2rem;
   }

   .header__column__content {
    max-width: 600px;
}

.header__arrow {
    bottom: 40px;
}

}

@media (max-width: 680px){
    .header__column__content p,  
    .header__column__content h1 {
        max-width: 90%;
        font-size: 0.6rem;
        line-height: 1.5rem;
       }

       .header__column__content {
        max-width: 300px;
    }

    .header__logo {
        width: 15px;
        height: 15px;
    }

    .header__arrow {
        bottom: 60px;
    }
    /* .header__row {
       top: 50%;
       bottom: 50px;
    } */

}


